html {
    color: limegreen;
    background-color: black;
  }
  
  .blink {
    animation-name: blinkframes;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes blinkframes {
    0% {
      color: black;
    }
    49% {
      color: black;
    }
    50% {
      color: limegreen;
    }
    100% {
      color: limegreen;
    }
  }